<!-- copied from c:/Users/andre/Miniconda3/envs/meriam/Lib/site-packages/flask_security/templates/security -->
{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors %}

{% block content %}
{% include "security/_messages.html" %}
HAHA
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<h1>{{ _('Login') }}</h1>
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.email) }}
  {{ render_field_with_errors(login_user_form.password) }}
  {{ render_field_with_errors(login_user_form.remember) }}
  {{ render_field_errors(login_user_form.csrf_token) }}
  {{ render_field(login_user_form.submit) }}
</form>
<div id="display">
  <script>
   console.log('do we have a cookie?', document.cookie);
  </script>
{% include "security/_menu.html" %}
{% endblock %}
